html {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(187,191,120,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    width: 100%;
    background-color: green;
}

.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
}