html {
    height: 100%;
    background: rgb(255,255,255);
    
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(187,191,120,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;*/
}

/* { margin:0; padding:0 }*/

body {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    background-color: rgb(0,65,1);
}

#footer {
    width: 100%;
    background-color: rgb(0,65,1);
    position: fixed;
    bottom: 0;
    right: 0;
}


.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.card_title {
    text-align: center;
}

.card {
    border-bottom:solid rgba(187,191,120,1) 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.essay {
    background-color: rgb(10, 177, 168);
}