html {
    height: 100%;
    background: rgb(255,255,255);
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(187,191,120,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;*/
}

#header {
    width: 100%;
    background-color: green;
}

.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
}

.card_title {
    text-align: center;
}

.card {
    border-bottom:solid rgba(187,191,120,1) 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.essay {
    background-color: rgb(10, 177, 168);
}